<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class='lobby-screen'>
        <ul id='rooms'>
            <li><button id='R0'>Room 1: 0/4</button></li>
            <li><button id='R1'>Room 2: 0/4</button></li>
            <li><button id='R2'>Room 3: 0/4</button></li>
            <li><button id='R3'>Room 4: 0/4</button></li>
        </ul>
        <button id='refresh'>Refresh</button>
        <p id='join-status'></p>
    </div>

    <div class='game-screen' style='display:none'>
        <div class='waiting-room'>
            <ul id='players'></ul>
            <button id='ready-status'>Ready</button>
            <p id='players-unready'></p>
            <p id='gamestart-notice'></p>
            <button id='leave'>Leave</button>
        </div>
        <div class='new-round' style='display:none'>
            <p>this is a round screen</p>
            <form id='round-form'>
                <p id='q'>question</p>
                <p id='h'>hint</p>
                <ul id='ans'>
                    <li><button name='answer' value='a0'>answer 1</button></li>
                    <li><button name='answer' value='a1'>answer 2</button></li>
                    <li><button name='answer' value='a2'>answer 3</button></li>
                    <li><button name='answer' value='a3'>answer 4</button></li>
                </ul>
            </form>
        </div>
        <div class='wait-screen' style='display:none'>
            <div id='wait-status'>
                status
            </div>
            <ul id='wait-screen-results'></ul>
        </div>
    </div>

    <div class='game-end-screen' style='display:none'>
        Final results go here
        <ul id='game-end-screen-results'></ul>
        <button id='end-leave'>Leave</button>
    </div>

    <script src="/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client-trivia.js"></script>
</body>
</html>